

{% extends 'base/front_base.html' %}

{% block title %}
    课堂首页
{% endblock %}

{% block head %}
    <script src="{% static 'js/index.js' %}"></script>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1245147_jeu8jq7xmb.css">
    <link rel="stylesheet" href="{% static 'css/course/course_index.min.css' %}">
{% endblock %}

{% block main %}
    <div class="main">
    <div class="course-nav">
        <div class="nav-content">
            <h3 class="title">在线课堂</h3>
            <ul class="nav-list">
                <li><a href="#">最新课堂</a></li>
                <li><a href="#">投资人说</a></li>
                <li><a href="#">明星案例</a></li>
                <li><a href="#">创业知识</a></li>
            </ul>
        </div>
    </div>
    <div class="wrapper">
        <ul class="course-list">
            <li>
                <a href="#">
                    <div class="thumbnail">
                        <img src="https://static-image.xfz.cn/1537239292_214.png-course.list.small" alt=""
                             class="thumbnail-img">
                    </div>
                    <div class="course-info">
                        <p class="title">对赌是什么</p>
                        <p class="author">ceo</p>
                        <p class="price">
                            <span class="free">免费</span>
                        </p>
                    </div>
                </a>
            </li>
        </ul>
         <ul class="course-list">
            <li>
                <a href="#">
                    <div class="thumbnail">
                        <img src="https://static-image.xfz.cn/1537239292_214.png-course.list.small" alt=""
                             class="thumbnail-img">
                    </div>
                    <div class="course-info">
                        <p class="title">对赌是什么</p>
                        <p class="author">ceo</p>
                        <p class="price">
                            <span class="free">免费</span>
                        </p>
                    </div>
                </a>
            </li>
        </ul>
         <ul class="course-list">
            <li>
                <a href="#">
                    <div class="thumbnail">
                        <img src="https://static-image.xfz.cn/1537239292_214.png-course.list.small" alt=""
                             class="thumbnail-img">
                    </div>
                    <div class="course-info">
                        <p class="title">对赌是什么</p>
                        <p class="author">ceo</p>
                        <p class="price">
                            <span class="pay">免费</span>
                        </p>
                    </div>
                </a>
            </li>
        </ul>
         <ul class="course-list">
            <li>
                <a href="#">
                    <div class="thumbnail">
                        <img src="https://static-image.xfz.cn/1537239292_214.png-course.list.small" alt=""
                             class="thumbnail-img">
                    </div>
                    <div class="course-info">
                        <p class="title">对赌是什么</p>
                        <p class="author">ceo</p>
                        <p class="price">
                            <span class="free">免费</span>
                        </p>
                    </div>
                </a>
            </li>
        </ul>
         <ul class="course-list">
            <li>
                <a href="#">
                    <div class="thumbnail">
                        <img src="https://static-image.xfz.cn/1537239292_214.png-course.list.small" alt=""
                             class="thumbnail-img">
                    </div>
                    <div class="course-info">
                        <p class="title">对赌是什么</p>
                        <p class="author">ceo</p>
                        <p class="price">
                            <span class="free">免费</span>
                        </p>
                    </div>
                </a>
            </li>
        </ul>
         <ul class="course-list">
            <li>
                <a href="#">
                    <div class="thumbnail">
                        <img src="https://static-image.xfz.cn/1537239292_214.png-course.list.small" alt=""
                             class="thumbnail-img">
                    </div>
                    <div class="course-info">
                        <p class="title">对赌是什么</p>
                        <p class="author">ceo</p>
                        <p class="price">
                            <span class="free">免费</span>
                        </p>
                    </div>
                </a>
            </li>
        </ul>
        <ul></ul>
        <ul></ul>
    </div>
</div>
{% endblock %}