<div class="sidebar-wrapper">
                <div class="title-group">
                    <span class="title">在线课堂</span>
                    <a href="#" class="more">更多</a>
                </div>
                <div class="adv-group">
                    <a href="#">
                        <img src="https://static-fancube.xfz.cn/1558511894652/%E8%9A%82%E4%B8%8A%E5%88%9B%E4%B8%9A%E8%90%A5%20%E4%B8%BB%E8%A7%86%E8%A7%89.png-website.active.list" alt="">
                    </a>
                </div>
                <div class="platform-group">
                    <div class="title-group">
                        <span class="title">在线课堂</span>
                    </div>
                    <div class="focus-group">
                        <ul class="left-group">
                            <li class="zhuhu"><a href="#" target="_blank">小饭桌创业课堂</a></li>
                            <li class="weibo"><a href="#" target="_blank">小饭桌创业课堂</a></li>
                            <li class="toutiao"><a href="#" target="_blank">小饭桌</a></li>
                        </ul>
                        <div class="right-group">
                            <p class="desc">扫描二维码关注</p>
                        </div>
                    </div>
                </div>
                <div class="hot-news">
                    <div class="title-group"><span class="title">热门推荐</span></div>
                    <ul class="hot-news-list">
                        <li>
                            <div class="left">
                                <p class="title">
                                    <a href="#">帮助“嘀嗒拼车”成功突围，这家品牌咨询公司要终结...</a>
                                </p>
                                <p class="more">
                                    <span class="category"><a href="#">深度报道</a></span>
                                    <span class="pub-time">1小时前</span>
                                </p>
                            </div>
                            <div class="right">
                                <a href="#"><img src="https://static-image.xfz.cn/1554346383_8.png" alt=""></a>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>