@import "init.scss";
@import "constains.scss";

body{

    background: white;
}
.footer{
    padding-top: 20px;
    font-size: 14px;
    color: #c9c9c9;
    .top-group{
        background: #212121;
        height: 102px;
        padding-top: 25px;
        box-sizing: border-box;
    .top-inner-group{
        width: $pageWight;
        margin: 0 auto;
        //overflow: hidden;
        position: relative;
        .logo-box{
            width: 168px;
            height: 54px;
            float: left;
            background: url("https://www.xfz.cn/static/build/images/logo-test.png");
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
        .detail{
            float: left;
            margin-left: 84px;
            .line1{
                overflow: hidden;
                .links{
                    float: left;
                    overflow: hidden;
                    li{
                        float: left;
                        padding: 0 10px;
                        border-right: 1px solid #c9c9c9;
                        &:last-of-type{
                            border-right: none;
                        }
                        &:first-of-type{
                            padding-left: 0;
                        }
                        a{

                            color: #c9c9c9;
                            &:hover{
                                color: royalblue;
                            }
                        }
                    }
                }
                .about-us{
                    float: left;
                    margin-left: 40px;
                    .title{
                        float: left;
                    }
                    .social-group{
                        float: left;
                        overflow: hidden;
                        li{
                            float: left;


                        }
                        .weixin{
                                background: url("https://www.xfz.cn/static/build/images/wx-icon.png");
                                margin-left: 20px;
                                background-repeat: no-repeat;
                                background-size: 25%;
                                &:hover .wx-qrcode{
                                    display: block;
                                }

                            .text{
                                margin-left: 30px;
                                color: white;
                            }
                            .wx-qrcode{
                                width: 204px;
                                height: 204px;
                                background: url("https://xfz.cn/static/build/images/xfz-wechat-share.png");
                                background-size: 100%;
                                position: absolute;
                                //left: 0;
                                right: 360px;
                                top: -220px;
                                display: none;

                            }
                            }
                        .weibo{
                            margin-left: 20px;
                            background: url("https://www.xfz.cn/static/build/images/wx-icon.png");
                            background-repeat: no-repeat;
                            background-size: 18%;
                            &:hover .wb-qrcode{
                                    display: block;
                                }
                            .text{
                                margin-left: 30px;
                                color: white;
                            }
                            .wb-qrcode{
                                width: 204px;
                                height: 204px;
                                background: url("https://xfz.cn/static/build/images/xfz-wechat-share.png");
                                background-size: 100%;
                                position: absolute;
                                //left: 0;
                                right: 200px;
                                top: -220px;
                                display: none;
                            }
                        }
                    }

                }
            }
            .line2{
                overflow: hidden;
                margin-top: 20px;
                .address{
                    float: left;
                }
                .contact{
                    float: right;
                    margin-left: 40px;

                }
            }
        }
    }
    }
    .bottom-group{
        background: darkgrey;
        height: 60px;
        text-align: center;
        line-height: 60px;
    }
}