

{% extends 'base/front_base.html' %}

{% block title %}
    新闻详情
{% endblock %}

{% block head %}
        <script src="{% static 'js/index.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/news/news_detail.min.css' %}">
{% endblock %}

{% block main %}
    <div class="main">
    <div class="wrapper">
        <div class="news-wrapper">
            <div class="news">
                <div class="title">帮助“嘀嗒拼车”成功突围，这家品牌咨询公司要终结“烧钱大战”</div>
                <div class="news-info">
                    <div class="info-groups">
                        <span class="auther">史素云</span>
                        <span class="pub-time">06月10日</span>
                        <span class="category">创业案例</span>
                    </div>
                    <div class="share-group">
                        <span>分享至:</span>
                        <a class="weixin share-item"></a>
                        <a href="#" class="weibo share-item"></a>
                    </div>
                </div>
                <article class="article">
                    <div class="content-detail">
                        <p><span style="font-size: 16px; color: rgb(63, 63, 63);">“星巴克是打不倒的。”尽管瑞幸已然是资本市场新宠，但在其能否挑战星巴克这个问题上，李婷（Kris）有着自己的看法，“星巴克已经成为了一种精神烙印，即便不降价它的忠实用户也不会流失，这就是品牌。”&nbsp;</span>
                        </p>
                        <p><img src="https://static-image.xfz.cn/1560163219_816.jpg" title=""
                                alt="3b0d410ed62e92567deb85a34ea6a22.jpg"></p>
                        <p style="text-align: center;"><span
                                style="color: rgb(63, 63, 63); font-size: 14px;">思创客创始人李婷</span></p>
                        <p><span style="font-size: 16px; color: rgb(63, 63, 63);">为了帮助国内创业公司在初创期建立明确的品牌规划，2015年李婷创立了思创客公司。</span>
                        </p>
                        <p><span style="font-size: 16px; color: rgb(63, 63, 63);">思创客自创了一套品牌建设的方法论—品牌系统五力模型，为创业者提供品牌建设的全流程服务。此外，思创客还开发了结合品牌思维和实用工具的知识付费产品。&nbsp;</span>
                        </p>
                        <p><span style="font-size: 16px; color: rgb(63, 63, 63);">成立之初，思创客便获得了华岩资本数百万元的天使轮投资。</span></p>
                        <h3><span style="font-size: 16px; color: rgb(63, 63, 63);">切入“虚头巴脑”的赛道</span></h3>
                        <p><span style="font-size: 16px; color: rgb(63, 63, 63);">李婷读高中时便对广告行业很感兴趣，大学选择了广告学专业。毕业后，她拒绝了新华社的offer，并入职当时全球最大的跨国广告公司李奥贝纳。&nbsp;</span>
                        </p>
                        <p><span style="font-size: 16px; color: rgb(63, 63, 63);">在李奥贝纳的工作经历让李婷接触到“品牌战略咨询”业务，然而一般广告公司最高层业务也只是停留在为用户做策划，为了继续学习，李婷离开李奥贝纳，加入了FutureBrand品牌战略咨询公司（全球最大传播集团麦肯世界集团的子公司）。&nbsp;</span>
                        </p>
                        <p><span style="font-size: 16px; color: rgb(63, 63, 63);">当李婷还在FutureBrand做品牌顾问时，就经常被创业的朋友问到一系列与品牌相关的问题，大到如何确定公司发展方向，小到怎样取一个合适的名字。渐渐地李婷发现，当时国内并没有十分专业的品牌咨询公司，而创业公司一般也承担不起国际知名品牌咨询公司高昂的费用，公司即便发展起来，也面临着缺乏品牌价值的问题。“在全球的品牌排行榜中，中国只有华为上榜，且仅排在第79位。”李婷对小饭桌说道。&nbsp;</span>
                        </p>
                        <p><span style="font-size: 16px; color: rgb(63, 63, 63);">“国内公司不是没实力，它们的财务数据都十分漂亮，但就是缺‘品牌’这个软实力。”&nbsp;</span>
                        </p>
                        <p><span style="font-size: 16px; color: rgb(63, 63, 63);">2015年，李婷找来几位有着十几年工作经验的咨询顾问，一同创立了思创客。然而想法落地的过程，却并不尽如人意。&nbsp;</span>
                        </p>
                        <p><span style="font-size: 16px; color: rgb(63, 63, 63);">首先，他们想创办一个评估创业品牌价值的排行榜，尽管李婷之前有过做品牌顾问的经历，但是整个品牌测试评估过程中所需要的核心方法却像一个黑箱一样，李婷只知道如何去运用最终的结果，而不知道这些结果是如何得出的。&nbsp;</span>
                        </p>
                        <p><span style="font-size: 16px; color: rgb(63, 63, 63);">抱着试一试的想法李婷雇佣了一批专家，专门研究InterBrand（全球最大的综合性品牌咨询公司）的方法体系，又去到美国与专门负责研究方法论的人进行探讨。最终根据中国本土创业公司特色，将评估标准定在10个维度（InterBrand有15个维度）。&nbsp;</span>
                        </p>
                        <p><span style="font-size: 16px; color: rgb(63, 63, 63);">基础模型打好之后，李婷发现市场并不买账，即便是其苦口婆心相劝，依然有很多公司觉得品牌是个“虚头巴脑”的东西。“他们宁愿花300万投广告，也不愿花300万买个打造品牌的咨询服务。”</span>
                        </p>
                        <p><span style="font-size: 16px; color: rgb(63, 63, 63);">在李婷看来，无论传统营销还是新媒体营销都是企业的阶段性投入，品牌则是一个需要长期建设的事情，它是企业从战略定位、表现记忆、体验流程、传播创意、再到运营管理的一整套组合拳。为了更好的帮助企业迅速找到匹配的品牌方向，思创客还陆续研发了品牌画布，品牌定位四分法等一系列版权模型和线上工具，提高企业品牌决策的准确度和落地性。</span>
                        </p>
                        <p><span style="font-size: 16px; color: rgb(63, 63, 63);">为了更好地教育市场，李婷开始走迂回路线，通过做知识课程来宣灌自己的理念体系。在之后的很长一段时间内，李婷的团队都在做内容。&nbsp;</span>
                        </p>
                        <p><span style="font-size: 16px; color: rgb(63, 63, 63);">就这样，李婷以退为进做出了一个几千人在听的付费课程，实现了百万的盈利。并且在这个过程中拥有了自己的社群、官网、小程序、新媒体学院等流量池。目前这些流量池中共有10万粉丝，其中的高管与企业家成功为思创客带来了咨询业务。</span>
                        </p>
                        <h3><span style="font-size: 16px; color: rgb(63, 63, 63);">“营救”嘀嗒</span></h3>
                        <p><span style="font-size: 16px; color: rgb(63, 63, 63);">由于品牌打造具有长期性特点，经常会有客户在短期看不到效果的情况下质疑品牌打造的价值。</span>
                        </p>
                        <p><span style="font-size: 16px; color: rgb(63, 63, 63);">“对手做个低俗广告就可以使销售额增长10个百分点，用户的焦急也无可非议。”但李婷坚持不让用户使用这种饮鸩止渴的方法。</span>
                        </p>
                        <p><span style="font-size: 16px; color: rgb(63, 63, 63);">“品牌的效果不是立竿见影的，只有当浪潮褪去时，你才会发现那些没有裸泳的企业都是平时注重品牌培养的。”&nbsp;</span>
                        </p>
                        <p><span style="font-size: 16px; color: rgb(63, 63, 63);">2015年拼车市场竞争的激烈程度并不亚于后来的快车大战，爱拼车、51拼车与嘀嗒拼车等纷纷崛起，当时的思创客正在为嘀嗒做品牌规划。&nbsp;</span>
                        </p>
                        <p><span style="font-size: 16px; color: rgb(63, 63, 63);">“其他品牌都烧了很多钱做营销，送抱枕、发福利、美女同行以及返现等各种方式五花八门。”在对市场以及嘀嗒内部做了全方位的考察后，李婷决定不让嘀嗒参与混战。“首先嘀嗒并没有充足的资金，其次这种方式太低端，长久来看会对品牌造成伤害。”&nbsp;</span>
                        </p>
                        <p><span style="font-size: 16px; color: rgb(63, 63, 63);">李婷及其团队帮助嘀嗒做了分析推理，最终确定以共享精神作为后者的宣传方向。具体的实施方案包括倡导上车聊天、把APP开屏页设置为用户的真实图片等，在产品设计和运营过程中融入品牌理念形成口碑传播，而不是铺天盖地的斥巨资做营销投入。&nbsp;</span>
                        </p>
                        <p><span style="font-size: 16px; color: rgb(63, 63, 63);">“混战结束之后，只有嘀嗒得以存活，且其账面上留存的资金是几家中最多的。”李婷对小饭桌说道。</span>
                        </p>
                        <p><span style="font-size: 16px; color: rgb(63, 63, 63);">对嘀嗒的“营救”让李婷更加确信自己正在做的是一件非常有意义的事情。为了让更多企业同样意识到品牌打造的重要性，李婷制定了一个客单价调整的策略。</span>
                        </p>
                        <p><span style="font-size: 16px; color: rgb(63, 63, 63);">以前思创客只做小单价业务，一个项目的定价在30万以内，但李婷发现很多客户渐渐地竟会忘记自己买过这个服务。“他们不够重视是因为他们没付出多少代价。而且小单价业务只能做短期的评估，但对于品牌培养而言后期的落地才更为重要。”</span>
                        </p>
                        <p><span style="font-size: 16px; color: rgb(63, 63, 63);">李婷根据思创客原创的品牌系统五力模型（战略力、表现力、记忆力、影响力、成长力）制定了菜单式价格，每个模块的定价在50万元左右，客户可以单独购买某个模块或模块下的某个小模块，每个小模块的价格在20万元左右。“我们总体价格要比国际大咨询公司便宜30-50%左右。”李婷解释道。&nbsp;</span>
                        </p>
                        <p><span style="font-size: 16px; color: rgb(63, 63, 63);">大客户可以选择多个模快，而每个模快的研究周期在半年左右，这使得思创客的复购率保持在30%以上。目前，此类大客户的数量占客户总数量的25%左右，却贡献了50%的利润。“公司今年的营收能达到千万元以上。”</span>
                        </p>
                        <p><img src="https://static-image.xfz.cn/1560163311_515.jpg" title=""
                                alt="ea0f6dec9b60cc9abe08428259919c3.jpg"></p>
                        <p style="text-align: center;"><span
                                style="color: rgb(63, 63, 63); font-size: 14px;">思创客团队部分成员</span></p>
                        <p><span style="font-size: 16px; color: rgb(63, 63, 63);">思创客办公地点在北京，团队有30余人，已经服务了包括阿里UC，大姨妈，摩比思维，联想ThinkPad，华为荣耀等在内的近百家初创及中大型企业。</span>
                        </p>
                        <p><span style="font-size: 16px; color: rgb(63, 63, 63);">“品牌是长久的事情，我们希望能一直陪着我们的客户成长，3年、10年甚至是‘金婚’。”</span>
                        </p>
                    </div>
                </article>

            </div>
            <div class="comment-group">
                <h3 class="title">文章评论</h3>
                <textarea name="comment" id="" class="comment-textarea" placeholder="立即登录参与评论"></textarea>
                <div class="comment-submit">
                    <button class="submit">立即评论</button>

                </div>
                <ul class="comment-list">
                    <li>
                        <div class="comment-info">
                            <img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2922170376,2371336021&fm=27&gp=0.jpg"
                                 alt="" class="avatar">
                            <span class="author">xiaozhiliao</span>
                            <span class="pub-time">1小时前</span>
                            <div>
                                <p class="comment-content">第一条评论</p>
                            </div>
                        </div>
                    </li>
                     <li>
                        <div class="comment-info">
                            <img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2922170376,2371336021&fm=27&gp=0.jpg"
                                 alt="" class="avatar">
                            <span class="author">xiaozhiliao</span>
                            <span class="pub-time">1小时前</span>
                            <div>
                                <p class="comment-content">第一条评论</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        {% include 'common/sidebar.html' %}
    </div>
</div>
{% endblock %}