

{% extends 'base/front_base.html' %}
{% load news_filters %}

{% block title %}
    新闻详情
{% endblock %}

{% block head %}
        <script src="{% static 'js/index.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/news/news_detail.min.css' %}">
{% endblock %}

{% block main %}
    <div class="main">
    <div class="wrapper">
        <div class="news-wrapper">
            <div class="news">
                <div class="title">{{ news.title }}</div>
                <div class="news-info">
                    <div class="info-groups">
                        <span class="auther">{{ news.author }}</span>
                        <span class="pub-time">{{ news.pubtime | time_since }}</span>
                        <span class="category">创业案例</span>
                    </div>
                    <div class="share-group">
                        <span>分享至:</span>
                        <a class="weixin share-item"></a>
                        <a href="#" class="weibo share-item"></a>
                    </div>
                </div>
                <article class="article">
                    <div class="content-detail">
                        {{ news.content |safe }}
                    </div>
                </article>

            </div>
            <div class="comment-group">
                <h3 class="title">文章评论</h3>
                <textarea name="comment" id="" class="comment-textarea" placeholder="立即登录参与评论"></textarea>
                <div class="comment-submit">
                    <button class="submit">立即评论</button>

                </div>
                <ul class="comment-list">
                    <li>
                        <div class="comment-info">
                            <img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2922170376,2371336021&fm=27&gp=0.jpg"
                                 alt="" class="avatar">
                            <span class="author">xiaozhiliao</span>
                            <span class="pub-time">1小时前</span>
                            <div>
                                <p class="comment-content">第一条评论</p>
                            </div>
                        </div>
                    </li>
                     <li>
                        <div class="comment-info">
                            <img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2922170376,2371336021&fm=27&gp=0.jpg"
                                 alt="" class="avatar">
                            <span class="author">xiaozhiliao</span>
                            <span class="pub-time">1小时前</span>
                            <div>
                                <p class="comment-content">第一条评论</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        {% include 'common/sidebar.html' %}
    </div>
</div>
{% endblock %}